body 

{
  padding: 0;
  margin: 0;
  background: #f2f6e9;
  font-family: sans-serif;
}

/*--- navigation bar ---*/

.navbar {
  background:red;
  font-family: sans-serif;
}

.nav-link,
.navbar-brand {
  color:white;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-brand:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('index_files/image1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: sans-serif;
}

.container-icon{
  position: fixed;
  right: 0px;
  top: 180px;
  z-index: 2000;
}

.icon{
  display: flex;
  justify-content: flex-end;
}

.container-icon ul{
list-style:  none;
}

.container-icon ul li a {
display: inline-block;
color:black;
background:red;
padding: 10px 15px;
text-decoration: none;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease;
}

.container-icon ul li a:hover {
background: red;
padding: 10px 60px;
opacity: .4;
}

.icon-facebook{
  transform: translate(-100px -100px);
  background:red;
}

.icon-twitter{
  transform: translate(-100px -100px);
  background:red;
}

.icon-instagram{
  transform: translate(-100px -100px);
  background:red;
}

.icon-play{
  transform: translate(-100px -100px);
 background:red;
}